
@font-face {
    font-family: avenirnext-bold ;
    src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: avenirnext-regular;
    src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: avenirnext-demi;
    src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
}

$bandsite-black:#323232;
$bandsitedark-black:#000000;
$bandsite-black-rgba:rgba(50, 50, 50, 0.5);
$avenirnext-regular: 'avenirnext-regular';
$avenirnext-demi:'avenirnext-demi';
$avenirnext-bold:'avenirnext-bold';
$silver:#afafaf;
$mercury:#e1e1e1;
$alabaster:#fafafa;


$fontsize-24: 24;
$font-size-36: 36;

$error-color: #D22D2D;

@mixin flexBox-row {
    display: flex;
    flex-direction: row;
}


@mixin flexBox-column {
    display: flex;
    flex-direction: column;
}

@mixin display-none{
    display: none;
}


@mixin uppercase {
    text-transform: uppercase !important;
}
