@use "./partials/global";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

body {
  margin: 0;
}

.uppercase {
  @include global.uppercase;
}

.nav-bar {
  background-color: global.$bandsite-black;
  @include global.flexBox-column;
  justify-content: center;
  align-items: center;
  color: white;

  &__top {
    padding-top: 1rem;
  }

  @include tablet {
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;

    // padding-left: 1rem;
    &__top {
      align-items: baseline;
      align-content: center;
      justify-content: center;
      vertical-align: middle;
      padding-left: 1rem;
    }

    &__heading {
      font-family: global.$avenirnext-regular;
      // margin: 0.5rem 0 0 0;
      padding: 1rem;
      // text-transform: uppercase;
      @include global.uppercase;
      // justify-content: center;
      align-content: center;
      align-items: baseline;
    }

    &__menu-tablet {
      // background-color: grey;
      @include global.flexBox-row;
      justify-content: space-evenly;
      align-items: baseline;
      width: 25% !important;
      padding-left: 1rem;
    }

    &__list {
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 0;

      &-container-selected {
        // width: 25%;
        // background-color: red;
        @include global.flexBox-column;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
        border-bottom: 0.25rem white solid;
      }

      &-item {
        // width: 25%;
        width: 100%;
        padding-right: 2rem;
        border: none;
      }
    }
  }

  @include desktop {
    align-items: center;
  }

  &-top {
    margin: 0;
  }

  &__heading {
    font-family: global.$avenirnext-regular;
    margin: 0.5rem 0 0 0;
    // text-transform: uppercase;
    @include global.uppercase;

    @include desktop {
      padding-left: 10rem;
      font-size: 36px;
    }
  }

  &__menu {
    @include global.flexBox-row;
    width: 100%;
    justify-content: space-between;

    @include desktop {
      font-size: 1rem;
    }
  }

  &__list {
    @include global.flexBox-row;
    width: 100%;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    padding: 0;
    // Margin bottom to remove the white space bellow so white line is level with div
    margin-bottom: 0;

    &-container {
      // display: flex;
      // flex-direction: column;
      @include global.flexBox-column;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 50%;
      // background: blue;
      text-align: center;
      // border-bottom: 0.25rem white solid;
    }

    &-container-selected {
      border-bottom: 0.25rem white solid;
    }

    &-item {
      text-decoration: none;
      list-style: none;
      color: white;
      font-family: global.$avenirnext-demi;
      padding-bottom: 0.5rem;
    }

    @include desktop {
      &-container-selected {
        // padding-bottom: 1vh;
      }
    }
  }
}

.bees-knees {
  @include global.flexBox-column;
  align-items: flex-start;
  justify-content: center;
  background: url(/assets/images/hero-bio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  height: 10rem;

  &__header {
    padding-left: 1rem;
    color: white;
    font-family: global.$avenirnext-demi;
    text-transform: capitalize;
  }

  @include tablet {
    height: 60vh;

    &__header {
      font-size: 36px;
      line-height: 44px;
      font-family: global.$avenirnext-bold;
    }
  }

  @include desktop {
    &__header {
      padding-left: 10rem;
      font-size: 60px;
      line-height: 68px;
    }
  }
}

.about-musicians {
  // display: flex;
  // flex-direction: column;
  @include global.flexBox-column;
  flex-wrap: nowrap;
  padding-top: 1.5rem;

  &__header {
    font-family: global.$avenirnext-demi;
    color: global.$bandsite-black;
    margin: 0.25rem 0 0.25rem 1rem;
    font-size: 36px;
    line-height: 44px;

    &-smaller {
      line-height: 22px;
      font-family: global.$avenirnext-demi;
      font-size: 14px;
      text-transform: capitalize;
      padding: 0.25rem 0 0.25rem 1rem;
    }
  }

  &_img-tablet {
    display: none;
  }

  &__img-band {
    width: auto;
    margin: 0.5rem 1rem;
  }

  &__qoute {
    font-family: global.$avenirnext-demi;
    line-height: 22px;
    font-size: 13px;
    margin: 0 1rem 0.25rem 1rem;
  }

  &__paragraph {
    font-family: global.$avenirnext-regular;
    font-size: 13px;
    line-height: 18px;
    margin: 0 1rem 1rem 1rem;
  }

  &-tablet__view {
    display: none;
  }

  &__header-tablet {
    display: none;
  }

  @include tablet {
    &__header {
      align-items: flex-end;
      justify-content: flex-start;
      padding-top: 1rem;
    }

    &_img-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img-band-tablet {
      width: 75%;
    }

    &__img-band {
      display: none;
    }

    &__qoute {
      margin: 0.25rem 6.5rem 0.25rem 6.5rem;
      // color: red;
      font-size: 28px;

      &--lower {
        font-size: 1rem;
        line-height: 20px;
        font-family: global.$avenirnext-demi;
      }
    }

    .tablet-paragraph {
      display: none;
      // margin: 0.25rem 6rem 0.25rem 6rem;
    }

    &-tablet__view {
      display: flex;
      margin: 0.25rem 6rem 0.25rem 6rem;
      align-items: baseline;
    }

    &__header-tablet {
      font-family: global.$avenirnext-demi;
      color: global.$bandsite-black;
      text-transform: capitalize;
      display: flex;
      @include global.flexBox-row;
      padding-left: 6.5rem;
      justify-content: flex-start;
      align-items: center;
    }

    &__header-smaller {
      color: blue;
      @include global.flexBox-column;
    }
  }

  @include desktop {
    &__header {
      margin-left: 15rem;
    }

    &__img-band-tablet {
      width: 50%;
    }

    &__qoute {
      margin: 0.25rem 30vw 0.25rem 25vw;
      text-align: left;
      //trbl
    }

    &__header-tablet {
      padding-left: 25vw;
      font-size: 24px;
    }

    &__paragraph {
      font-family: global.$avenirnext-regular;
      font-size: 18px;
      line-height: 32px;
    }

    .paragraph-left {
      padding-left: 20vw;
    }

    .paragraph-right {
      padding-right: 20vw;
    }
  }
}

.photo-gallery {
  // display: flex;
  // flex-direction: column;
  @include global.flexBox-column;
  background-color: global.$alabaster;
  flex-wrap: none;
  padding-top: 1rem;
  // margin: 0 1rem 0.25rem 1rem;

  &__mobile {
    width: auto;
    justify-content: center;
    align-items: center;
    @include global.flexBox-column;
  }

  &__header {
    font-family: global.$avenirnext-demi;
    color: global.$bandsite-black;
    margin: 0.25rem 0 0 1rem;
    font-size: 24px;
    line-height: 32px;
  }

  &__img {
    justify-content: center;
    width: 94%;
    margin: 0.5rem 1rem;
  }

  @include tablet {
    &__header {
      padding-top: 2rem;
      font-size: 24px;
    }

    &__mobile {
      display: none;
    }

    // .mobile_gallery{
    //     color:red;
    // }
    &__tablet {
      justify-content: flex-start;
      align-items: flex-start;
      @include global.flexBox-row;
      margin: 1rem 1rem;

      &-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @include desktop {
    &__header {
      font-size: 36px;
      line-height: 44px;
      padding-left: 10rem;
    }

    &__tablet {
      margin: 1rem 10rem;
    }
  }
}

.footer {
  background-color: global.$bandsite-black;
  @include global.flexBox-column;

  &-testing {
    justify-content: flex-end;
  }

  &__header {
    color: white;
    font-family: global.$avenirnext-bold;
    text-size-adjust: 36px;
    line-height: 44px;
    margin: 1rem 0 1rem 1rem;

    @include tablet {
      display: none;
    }
  }

  &__social-media {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-left: 1rem;

    @include tablet {
      display: none;
    }

    &__icon {
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
  }

  &-header__small {
    color: white;
    font-family: global.$avenirnext-demi;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    margin-left: 1rem;
    margin: 0.25rem 0 0.25rem 1rem;
  }

  &-address {
    color: white;
    margin: 1rem 0 0.25rem 1rem;

    &__header {
      text-transform: capitalize;
      margin: 0;
      font-family: global.$avenirnext-regular;
      font-size: 14px;
      line-height: 20px;
      text-transform: capitalize;

      &-uppercase {
        @include global.uppercase;
      }

      &-extra {
        padding-top: 1rem;
        text-transform: none;
      }
    }
  }

  &-two {
    @include tablet {
      // display: none;
      @include global.display-none;
    }
  }

  &-three {
    padding-top: 1rem;

    @include tablet {
      @include global.display-none;
    }
  }

  &-four {
    padding-top: 1rem;

    @include tablet {
      @include global.display-none;
    }
  }

  &-lower {
    padding-left: 1rem;
    padding-top: 1rem;

    &__header {
      font-size: 24px;
      line-height: 32px;
      font-family: global.$avenirnext-regular;
      color: white;
    }

    &__copyright {
      font-size: 14px;
      line-height: 22px;
      font-family: global.$avenirnext-regular;
      color: white;
    }

    @include tablet {
      @include global.display-none;
    }

    @include desktop {
      &__header {
        padding-right: 1vw;
      }

      &__copyright {
        padding-left: 12vh;
      }
    }
  }
}

.footer-mobile {
  @include global.display-none;

  @include tablet {
    @include global.flexBox-row;
    align-items: baseline;
    justify-content: space-between;

    padding: 0.5rem 1rem;

    &__row {
      // display: flex;
      // flex-direction: row;
      @include global.flexBox-row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__header {
      @include global.flexBox-row;
      color: white;
      font-family: global.$avenirnext-bold;
      font-size: 36px;
      line-height: 44px;
    }

    &__social {
      @include global.flexBox-row;
    }

    &__icon {
      padding-left: 1rem;
    }

    &-left {
      @include global.flexBox-row;
      justify-content: space-between;
    }

    &-right {
      @include global.flexBox-row;
      align-items: baseline;
      padding-right: 1rem;
    }
  }

  @include desktop {
    padding: 1rem 7vw;

    &__header {
      color: white;
    }
  }
}

.footer-tablet__team {
  @include global.display-none;

  @include tablet {
    @include global.flexBox-row;
    justify-content: space-between;
    padding: 0 1rem;

    &__left {
      @include global.flexBox-column;
    }

    &__center {
      @include global.flexBox-column;
    }

    &__right {
      @include global.flexBox-column;
    }
  }

  @include desktop {
    padding: 0 12vh;
  }
}

.footer-tablet__lower {
  @include global.display-none;

  @include tablet {
    display: flex;
    padding: 1rem 0 0 1rem;
  }
}

.input-label {
  text-transform: uppercase;
  font-family: global.$avenirnext-demi;
  line-height: 20px;
  color: #afafafaf;
}

.conversation {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  @include desktop{
    // text-align: left;
    display: flex;
    align-items: center;
  // padding-left: 10rem;
  }

  &__header {
    font-family: global.$avenirnext-demi;
    color: global.$bandsite-black;
    margin: 1rem 0 0 1rem;
    font-size: 24px;
    line-height: 32px;
    @include desktop{
      padding-left: 10rem;
      display: flex;
      align-items: flex-start;
      font-size: 32px;
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1rem;
    justify-content: baseline;
    // border-bottom: 1.5px global.$silver solid;
    @include desktop{
      width: 50%;
      justify-content: center;
    }
  }

  &__img {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    flex-direction: row;
    background: url(../assets/images/Mohan-muruge.jpg);
    background-color: global.$silver;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet{
      width: 3rem;
      height: 3rem;
    }
  }

  &__left {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    padding-top: 0.5rem;
    // border-bottom: 1.5px global.$silver solid;
    @include tablet{
      padding-left: 3rem;
      // background-color: green;
    }
  }

  &__top {
    // padding-left: 1rem;
    padding: 1rem 0 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--img {
      display: flex;
      flex-direction: row;
    }

    &--left {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1rem;
    justify-content: baseline;
    border-bottom: 1.5px global.$silver solid;
    @include tablet{
      // padding-left: 3rem;
      // background-color: yellow;
    }

    
    &--form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-right: 1rem;
      justify-content: baseline;
      // border-bottom: 1.5px global.$silver solid;
    }

    &--header {
      margin: 0;
    }

    &--commentbutton {
      margin: 1rem 0;
      padding: 0.5rem 1rem;
      background: global.$bandsite-black;
      font-size: 1.5rem;
      text-align: center;
      border: 0.5rem global.$bandsite-black solid;
      border-radius: 0.5rem;
      color: white;
      font-family: global.$avenirnext-regular;
    }

    &__top {
      display: flex;
      flex-direction: row;
    }

    &__bottom {
      display: flex;
      flex-direction: row;
    }
  }

  &__form {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    // border-bottom: 1.5px global.$silver solid;
    // padding-right: 1rem;
    padding: 0 1rem;
  }

  &__nameinput {
    height: 2rem;
    width: auto;
    background-color: global.$mercury;
    border-radius: 0.5rem;
    padding: 1rem;
    border: solid 1px global.$mercury;

    &::placeholder {
      color: global.$bandsitedark-black;
      font-family: global.$avenirnext-regular;

    }
  }

  &__commentinput {
    height: 20vh;
    background-color: global.$mercury;
    border-radius: 0.5rem;
    padding: 1rem;
    border: solid 1px global.$mercury;

    &::placeholder {
      color: global.$bandsitedark-black;
      font-family: global.$avenirnext-regular;
      display: flex;
      position: absolute;
      top: 1px;
      font-size: 12px;
    }
  }

  //conversation__users
  &__users {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    // border-bottom: 1.5px global.$silver solid;
    // padding-bottom: 1rem;
    @include tablet {
      // background-color: blue;
      padding-left: 3rem;
    }
    @include desktop{
      width: 50%;
    }

    &--container {
      padding: 1rem 1rem;
      display: flex;
      flex-direction: row;
    }

    &--img {
      display: flex;
      flex-direction: row;
      border-bottom: 1.5px global.$silver solid;
      // background-color: global.$silver;
      // background
    }

    &--details {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      border-bottom: 1.5px global.$silver solid;
    }

    .details__wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      justify-content: space-between;

      &--name {
        font-family: global.$avenirnext-demi;
      }

      &--date {
        font-family: global.$avenirnext-regular;
        color: global.$silver;
      }
    }

    .details-paragraph {
      padding-top: 0.5rem;
      font-family: global.$avenirnext-regular;
    }
  }

  .details-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.album__header {
  @include global.flexBox-column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  margin: 0;
  background: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  @include desktop{
    // background: lightblue;
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
  }

  &--paragraph{
    display: flex;
    flex-direction: column;
  }
  
  // opacity: 20%;
  // height: auto;

  &--soundcloud--container{
    @extend .album__header;
    background: none;
    padding: 0;
    width: 50%;
    @include desktop{
      width: 40%;
    }
  }
  &--soundcloud{
    // @include global.flexBox-column;
    // align-items: flex-start;
    // justify-content: center;
    width: 20%;
    
    @include tablet {
      @include global.flexBox-column;
      align-items: flex-start;
      justify-content: center;
      width: 70%;
      // background-color: green;
      }

      @include desktop{
        width: 100%;
        padding: 0;
      }
  }

  &--small {
    color: white;
    font-family: global.$avenirnext-demi;
    text-transform: capitalize;
    padding-left: 1rem;
    font-size: 24px;
    line-height: 32px;
    @include desktop{
      display: flex;
    }
  }

  &--larger {
    padding-left: 1rem;
    padding-right: 5rem;
    color: white;
    font-family: global.$avenirnext-demi;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 44px;
    margin: 0 1rem 0 0;
    @include desktop{
      display: flex;
    }
  }
}

.soundcloud-iframe {
  padding: 1rem 1rem 2rem 1rem;
  @include desktop{
    display: flex;
    padding: 0;
  }

  // @include tablet{
  //   background: blue;
  // }

  @include tablet{
    width: 70%;
    // background-color: blue;
    padding: 1rem 2rem;
  }

  @include desktop{
    // background-color: lightblue; 
  }
}


.shows {
  // display: flex;
  // flex-direction: column;
  @include global.flexBox-column;
  flex-wrap: nowrap;
  padding-top: 1.5rem;
  padding: 1.5rem 1rem 0 1rem;

  

  
  &--tablet-header{
    @include global.flexBox-row;
  }

  &__header {
    font-family: global.$avenirnext-demi;
    color: global.$bandsite-black;
    // margin: 0.25rem 0 0.25rem 1rem;
    padding-left: 1rem;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-bottom: 1.5px global.$silver solid;

    @include tablet{
      @include global.flexBox-row;
      padding: 1rem;
      align-items: baseline;
      justify-content: space-between;
      align-content: center;
    }

    &--header {
      font-family: global.$avenirnext-regular;
      color: global.$silver;
      text-transform: uppercase;
      @include tablet{
        display: none;
      }
    }

    &--date {
      text-transform: capitalize;
      font-family: global.$avenirnext-demi;
      margin: 0;
    }

    &--venue {
      text-transform: capitalize;
      font-family: global.$avenirnext-regular;
      margin: 0;
    }

    &--location {
      text-transform: capitalize;
      font-family: global.$avenirnext-regular;
      margin: 0;
    }

    &--buybutton {
      display: inline;
      color: white;
      font-family: global.$avenirnext-demi;
      padding: 1rem 3rem;
      border: 1px global.$bandsite-black solid;
      border-radius: 0.25rem;
      background-color: global.$bandsite-black;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin: 1rem 0;

      @include tablet{
        padding: 0.75rem 2rem;
        margin: 1rem;
        border: 1px global.$bandsite-black solid;
        width: auto;
      }
    }

    &--tablet{
      display: none;
      @include tablet{
      padding-left: 1rem;
      @include global.flexBox-row;
      justify-content: space-between;
      // width: 50%;
      }

      &-header{
      font-family: global.$avenirnext-regular;
      color: global.$silver;
      text-transform: uppercase;
      }
    }
  }
}