@font-face {
  font-family: avenirnext-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: avenirnext-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: avenirnext-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.uppercase {
  text-transform: uppercase !important;
}

.nav-bar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (min-width: 768px) {
  .nav-bar {
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
  }
  .nav-bar__top {
    align-items: baseline;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
  }
  .nav-bar__heading {
    font-family: "avenirnext-regular";
    padding: 1rem;
    text-transform: uppercase;
    align-content: center;
    align-items: baseline;
  }
  .nav-bar__menu-tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    width: 25% !important;
    padding-left: 1rem;
  }
  .nav-bar__list {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .nav-bar__list-container-selected {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    border-bottom: 0.25rem white solid;
  }
  .nav-bar__list-item {
    width: 100%;
    padding-right: 2rem;
    border: none;
  }
}
@media (min-width: 1280px) {
  .nav-bar {
    align-items: center;
  }
}
.nav-bar-top {
  margin: 0;
}
.nav-bar__heading {
  font-family: "avenirnext-regular";
  margin: 0.5rem 0 0 0;
  text-transform: uppercase;
}
@media (min-width: 1280px) {
  .nav-bar__heading {
    padding-left: 10rem;
    font-size: 36px;
  }
}
.nav-bar__menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .nav-bar__menu {
    font-size: 1rem;
  }
}
.nav-bar__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.nav-bar__list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 50%;
  text-align: center;
}
.nav-bar__list-container-selected {
  border-bottom: 0.25rem white solid;
}
.nav-bar__list-item {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "avenirnext-demi";
  padding-bottom: 0.5rem;
}

.bees-knees {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: url(/assets/images/hero-bio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  height: 10rem;
}
.bees-knees__header {
  padding-left: 1rem;
  color: white;
  font-family: "avenirnext-demi";
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .bees-knees {
    height: 60vh;
  }
  .bees-knees__header {
    font-size: 36px;
    line-height: 44px;
    font-family: "avenirnext-bold";
  }
}
@media (min-width: 1280px) {
  .bees-knees__header {
    padding-left: 10rem;
    font-size: 60px;
    line-height: 68px;
  }
}

.about-musicians {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 1.5rem;
}
.about-musicians__header {
  font-family: "avenirnext-demi";
  color: #323232;
  margin: 0.25rem 0 0.25rem 1rem;
  font-size: 36px;
  line-height: 44px;
}
.about-musicians__header-smaller {
  line-height: 22px;
  font-family: "avenirnext-demi";
  font-size: 14px;
  text-transform: capitalize;
  padding: 0.25rem 0 0.25rem 1rem;
}
.about-musicians_img-tablet {
  display: none;
}
.about-musicians__img-band {
  width: auto;
  margin: 0.5rem 1rem;
}
.about-musicians__qoute {
  font-family: "avenirnext-demi";
  line-height: 22px;
  font-size: 13px;
  margin: 0 1rem 0.25rem 1rem;
}
.about-musicians__paragraph {
  font-family: "avenirnext-regular";
  font-size: 13px;
  line-height: 18px;
  margin: 0 1rem 1rem 1rem;
}
.about-musicians-tablet__view {
  display: none;
}
.about-musicians__header-tablet {
  display: none;
}
@media (min-width: 768px) {
  .about-musicians__header {
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 1rem;
  }
  .about-musicians_img-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-musicians__img-band-tablet {
    width: 75%;
  }
  .about-musicians__img-band {
    display: none;
  }
  .about-musicians__qoute {
    margin: 0.25rem 6.5rem 0.25rem 6.5rem;
    font-size: 28px;
  }
  .about-musicians__qoute--lower {
    font-size: 1rem;
    line-height: 20px;
    font-family: "avenirnext-demi";
  }
  .about-musicians .tablet-paragraph {
    display: none;
  }
  .about-musicians-tablet__view {
    display: flex;
    margin: 0.25rem 6rem 0.25rem 6rem;
    align-items: baseline;
  }
  .about-musicians__header-tablet {
    font-family: "avenirnext-demi";
    color: #323232;
    text-transform: capitalize;
    display: flex;
    display: flex;
    flex-direction: row;
    padding-left: 6.5rem;
    justify-content: flex-start;
    align-items: center;
  }
  .about-musicians__header-smaller {
    color: blue;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .about-musicians__header {
    margin-left: 15rem;
  }
  .about-musicians__img-band-tablet {
    width: 50%;
  }
  .about-musicians__qoute {
    margin: 0.25rem 30vw 0.25rem 25vw;
    text-align: left;
  }
  .about-musicians__header-tablet {
    padding-left: 25vw;
    font-size: 24px;
  }
  .about-musicians__paragraph {
    font-family: "avenirnext-regular";
    font-size: 18px;
    line-height: 32px;
  }
  .about-musicians .paragraph-left {
    padding-left: 20vw;
  }
  .about-musicians .paragraph-right {
    padding-right: 20vw;
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  flex-wrap: none;
  padding-top: 1rem;
}
.photo-gallery__mobile {
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.photo-gallery__header {
  font-family: "avenirnext-demi";
  color: #323232;
  margin: 0.25rem 0 0 1rem;
  font-size: 24px;
  line-height: 32px;
}
.photo-gallery__img {
  justify-content: center;
  width: 94%;
  margin: 0.5rem 1rem;
}
@media (min-width: 768px) {
  .photo-gallery__header {
    padding-top: 2rem;
    font-size: 24px;
  }
  .photo-gallery__mobile {
    display: none;
  }
  .photo-gallery__tablet {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
  }
  .photo-gallery__tablet-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__header {
    font-size: 36px;
    line-height: 44px;
    padding-left: 10rem;
  }
  .photo-gallery__tablet {
    margin: 1rem 10rem;
  }
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
.footer-testing {
  justify-content: flex-end;
}
.footer__header {
  color: white;
  font-family: "avenirnext-bold";
  -webkit-text-size-adjust: 36px;
     -moz-text-size-adjust: 36px;
          text-size-adjust: 36px;
  line-height: 44px;
  margin: 1rem 0 1rem 1rem;
}
@media (min-width: 768px) {
  .footer__header {
    display: none;
  }
}
.footer__social-media {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .footer__social-media {
    display: none;
  }
}
.footer__social-media__icon {
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.footer-header__small {
  color: white;
  font-family: "avenirnext-demi";
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  margin-left: 1rem;
  margin: 0.25rem 0 0.25rem 1rem;
}
.footer-address {
  color: white;
  margin: 1rem 0 0.25rem 1rem;
}
.footer-address__header {
  text-transform: capitalize;
  margin: 0;
  font-family: "avenirnext-regular";
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}
.footer-address__header-uppercase {
  text-transform: uppercase;
}
.footer-address__header-extra {
  padding-top: 1rem;
  text-transform: none;
}
@media (min-width: 768px) {
  .footer-two {
    display: none;
  }
}
.footer-three {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .footer-three {
    display: none;
  }
}
.footer-four {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .footer-four {
    display: none;
  }
}
.footer-lower {
  padding-left: 1rem;
  padding-top: 1rem;
}
.footer-lower__header {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenirnext-regular";
  color: white;
}
.footer-lower__copyright {
  font-size: 14px;
  line-height: 22px;
  font-family: "avenirnext-regular";
  color: white;
}
@media (min-width: 768px) {
  .footer-lower {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer-lower__header {
    padding-right: 1vw;
  }
  .footer-lower__copyright {
    padding-left: 12vh;
  }
}

.footer-mobile {
  display: none;
}
@media (min-width: 768px) {
  .footer-mobile {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .footer-mobile__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer-mobile__header {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "avenirnext-bold";
    font-size: 36px;
    line-height: 44px;
  }
  .footer-mobile__social {
    display: flex;
    flex-direction: row;
  }
  .footer-mobile__icon {
    padding-left: 1rem;
  }
  .footer-mobile-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-mobile-right {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer-mobile {
    padding: 1rem 7vw;
  }
  .footer-mobile__header {
    color: white;
  }
}

.footer-tablet__team {
  display: none;
}
@media (min-width: 768px) {
  .footer-tablet__team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .footer-tablet__team__left {
    display: flex;
    flex-direction: column;
  }
  .footer-tablet__team__center {
    display: flex;
    flex-direction: column;
  }
  .footer-tablet__team__right {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .footer-tablet__team {
    padding: 0 12vh;
  }
}

.footer-tablet__lower {
  display: none;
}
@media (min-width: 768px) {
  .footer-tablet__lower {
    display: flex;
    padding: 1rem 0 0 1rem;
  }
}/*# sourceMappingURL=bio.css.map */