@use "./partials/global";

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

.album__header {
  @include global.flexBox-column;
  align-items: flex-start;
  justify-content: center;
  // height: 100vh;
  margin: 0;
  background: url(../assets/images/hero-shows.jpg);
  background-blend-mode: multiply;
  background-color: global.$bandsite-black-rgba;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop {
    // background: lightblue;
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0;
  }

  &--paragraph {
    display: flex;
    flex-direction: column;
  }

  // opacity: 20%;
  // height: auto;

  &--soundcloud--container {
    @extend .album__header;
    display: flex;
    background: none;
    padding: 0;
    width: 100%;

    @include desktop {
      width: 40%;
    }
  }

  &--soundcloud {
    // @include global.flexBox-column;
    // align-items: flex-start;
    // justify-content: center;
    width: 100%;

    @include desktop {
      width: 20%;
    }

    @include tablet {
      @include global.flexBox-column;
      align-items: flex-start;
      justify-content: center;
      width: 70%;
      // background-color: green;
    }

    @include desktop {
      width: 100%;
      padding: 0;
    }
  }

  &--small {
    color: white;
    font-family: global.$avenirnext-demi;
    text-transform: capitalize;
    padding-left: 1rem;
    font-size: 24px;
    line-height: 32px;

    @include desktop {
      display: flex;
    }
  }

  &--larger {
    padding-left: 1rem;
    padding-right: 5rem;
    color: white;
    font-family: global.$avenirnext-demi;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 44px;
    margin: 0 1rem 0 0;

    @include desktop {
      display: flex;
    }
  }
}

.soundcloud-iframe {
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;

  @include desktop {
    display: flex;
    padding: 0;
  }

  // @include tablet{
  //   background: blue;
  // }

  @include tablet {
    width: 70%;
    // background-color: blue;
    padding: 1rem 2rem;
  }

  @include desktop {
    // background-color: lightblue;
  }
}

.shows {
  @include global.flexBox-column;
  flex-wrap: nowrap;
  padding-top: 1.5rem;
  padding: 1.5rem 1rem 0 1rem;

  @include desktop {
    padding-left: 30vw;
    padding-right: 6rem;
  }

  &--tablet-header {
    @include global.flexBox-row;
  }

  &__header {
    font-family: global.$avenirnext-demi;
    color: global.$bandsite-black;
    // margin: 0.25rem 0 0.25rem 1rem;
    padding-left: 1rem;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;

    @include desktop {
      padding-left: 10rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-bottom: 1.5px global.$silver solid;

    &:hover {
      background: global.$alabaster;
    }

    &:active {
      background: global.$mercury;
    }

    &::selection {
      background: blue;
    }

    @include tablet {
      @include global.flexBox-row;
      padding: 1rem;
      align-items: baseline;
      justify-content: space-between;
      align-content: center;
    }

    &--header {
      font-family: global.$avenirnext-regular;
      color: global.$silver;
      text-transform: uppercase;

      @include tablet {
        display: none;
      }
    }

    &--date {
      text-transform: capitalize;
      font-family: global.$avenirnext-demi;
      margin: 0;
    }

    &--venue {
      text-transform: capitalize;
      font-family: global.$avenirnext-regular;
      margin: 0;
    }

    &--location {
      text-transform: capitalize;
      font-family: global.$avenirnext-regular;
      margin: 0;
    }

    &--buybutton {
      display: inline;
      color: white;
      font-family: global.$avenirnext-demi;
      padding: 1rem 3rem;
      border: 1px global.$bandsite-black solid;
      border-radius: 0.25rem;
      background-color: global.$bandsite-black;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin: 1rem 0;

      @include tablet {
        padding: 0.75rem 2rem;
        margin: 1rem;
        border: 1px global.$bandsite-black solid;
        width: auto;
      }
    }

    &--tablet {
      @include desktop {
        flex-direction: column;
      }

      display: none;

      @include tablet {
        padding-left: 1rem;
        @include global.flexBox-row;
        justify-content: space-between;
        // width: 50%;
      }

      &-header {
        font-family: global.$avenirnext-regular;
        color: global.$silver;
        text-transform: uppercase;
      }
    }
  }
}
